
.CheckOut_main{
}

.CheckOut_main_item{
    display: flex;
}


.detills_items{
    display: flex;
}
.detills_itemsTwo{
    margin-left:30px;
}



.check_img{
    margin-top:-40px;
    /*width:450px;*/
    height:500px;
}

.img_items{
    display: flex;
    margin-top:10px;
    margin-left: 80px;
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*align-content: stretch;*/
}

.check_imgs{

    margin-left: 10px;
    height: 84px;
    object-fit: contain;
    border: 1px solid red;

    /*background-color: red;*/
    margin-bottom:30px;


}
.check_mainList{
    margin-left: 20px;
    margin-top: 50px;
}

.quantity-section{
    margin-top:10px;
    display: flex;
    flex-direction: row;
}

.de-quantity-section{
    margin-left: 55px;
    display: flex;
    flex-direction: row;
}

.quantity-title{
    margin-top:7px;
}
.Quantity{
    margin-left:55px;

    display: flex;
    width: 148px;
    height: 40px;
    /*padding: 0px 20px 0px 20px;*/
    border-radius: 8px;
    border: solid 1px #e7e7e7;
    background-color: #ffffff;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.product-color-section{
    display: flex;
    flex-direction: row;
}
.product-color{
    display: block;
}
.product-color-select{
    height:30px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.product-color-select-option{

}

.product-size-section{
    display: block;
    margin-left:60px;
}

.product-size-select{
    width: 80px;
    height: 30px;
    border-radius: 8px;
    border-radius: 8px;
}
.check_buttons{
    margin-top:43px;
    display: flex;
}
.check_button{

    padding: 10px 110px 10px 110px;
    border-radius:8px;
    border: 16px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    background-color: #ec3d47;
}

.check_outCart{
    margin-top:-3px;
    margin-right: 10px;
    height: 20px;
}


.save_button{
    margin-left:16px;
    width:100px;
    height: 54px;
    border-radius: 8px;
    background-color: #e7e7e7;
    font-family: Lato;
    font-size: 14px;
    border: none;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #8c95a8;
}
.save_cart{
    margin-right:5px;
    width:30px;
    height:30px;
}

@media only screen and (max-device-width : 768px){
    .CheckOut_main_item{
        display: block;
    }

}
@media only screen and (min-device-width : 320px) and (max-device-width : 640px){


    .CheckOut_main_item{
        margin-top:80px;
        display: block;
    }
    .check_img{
        margin-top: 30px;
        width:380px;
        height:380px;
    }
    .check_buttons{
        display: flex;
        /*flex-direction: column;*/
        /*flex-wrap: nowrap;*/
        /*justify-content: space-around;*/
        /*align-items: stretch;*/
        /*align-content: stretch;*/
        /*margin-bottom:-20px;*/
    }
    .img_items{
        /*justify-content: center;*/

    }


}
