
.main {
    margin-left: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row wrap;
    align-items: center;
    align-content: stretch;
    text-decoration: none;

}
.main_section{
    margin-left: 10px;
    margin-top: 10px;

}

.main a {
    text-decoration: none;
    color: black;

}

.cart {
    width: 205px;

    background-color: #FFFFFF;
}

.main-shop-cart-title{
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size:16px;

}

.Cart_imag {
    margin-top: 15px;
    height: 180px;
    width: 160px;
    /*position:center;*/
    transition: transform .2s;
}

.Cart_imag:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
}

.main_cart {

    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    justify-content: center;
    align-items: center;
    align-content: stretch;


}

.title {
    /*white-space: nowrap;*/
    /*width: 150px;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*word-break:break-word;*/
    margin-top: 20px;

    margin-left: 15px;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.main_cart_price {
    margin-top: 20px;
    margin-bottom: 5px;

    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    justify-content: center;
    align-items: center;
    align-content: stretch;


}


@media only screen and (min-device-width : 320px) and (max-device-width :640px){


    .main{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:space-around;
        flex-flow: row wrap;

    }

     .cart{
         /*width:170px;*/
         width: 130px;
         margin-left:5px;
         /*justify-content:space-between;*/
         /*background-color: red;*/


     }


    .Cart_imag{
        margin-top: 15px;
        height: 140px;
        width: 140px;
        transition: transform .2s;
    }
    .title{
        font-size:10px;
    }


}





