

.contant{
    background-color: #61dafb;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .Fashion_title{
        padding: 20px;
        text-align: center;
    }
}