

.contant{
    background-color:#F7F8FA;
}


.Fashion_title{
    /*margin-top: 25px;*/
    /*margin-bottom: 25px;*/
    padding: 25px;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    /*line-height: 1.22;*/
    letter-spacing: 0.22px;
    text-align: left;
    /*color: #1f2b65;*/
}




@media only screen and (min-device-width : 320px) and (max-device-width : 480px){

    .Fashion_title{
        padding: 20px;
        font-size:20px;
        text-align: center;
    }
}